<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include header.ejs %>
    这里是首页
    
    <% for(var i in data){ %>
        <%= data[i] %>
    <%}%>

    <% include footer.ejs %>
</body>
</html>