<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= locals.result %>
    姓名：<input type="text" class="username"><br>
    密码：<input type="text" class="password"><br>
    <button id="submit">登录</button>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#submit').click(function () { 
        $.ajax({
        method:'post',
        url:'/login',
        dataType:'json',
        data:{
            username:$('.username').val(),
            password:$('.password').val()
        },
        success:function(res){
            location.href='/'
        }
    })
     })

</script>
</html>