<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/reg" method="get">
        <input type="text" name="userName">
        <input type="text" name="password">
        <input type="submit">
    </form>
    <form action="/reg" method="post">
        <input type="text" name="userName">
        <input type="text" name="password">
        <input type="submit">
    </form>
</body>
</html>